* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lucida Console", "Andale Mono", sans-serif;
  font-size: 1em;
  /* color: #b259db; */
}

img,
video,
object,
embed {
  max-width: 100%;
}

.container {
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.app {
  width: 270px;
  height: 270px;
  box-shadow: 4px 4px rgb(38, 72, 95);
  background-color:rgb(110, 178, 223);
  display: flex;
  align-content: center;
  flex-direction: column;
  border-radius: 10px;
}

.display {
  width: 240px;
  height: 40px;
  background-color: white;
  margin: 15px auto;
}

/* flex item and flex container */
.buttons {
  display: flex;
}

/* flex item and flex container */
.column {  
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

/* flex item */
.button {
  width: 40px;
  height: 40px;
  box-shadow: 2px 2px grey;
  background-color:white;
  color: black;
  font-size: 2rem;
  margin: 4px 2px;
  border-radius: 10px;
  text-align: center;
}
